*
{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body
{
    background-color: #1b1b32;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 5px 20px;
    background-color: #0a0a23;
    position: relative;
}
.search
{
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.search > input
{
    width: 10.5cm;
    outline: none;
    height: 0.8cm;
    padding-left: 30px;
    background-color: #1b1b32;
    font-size: 18px;
    color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-input-placeholder
{
    color: rgb(161, 159, 159);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.search > i
{
 color: #ffffff;
 width: 50px;
 position:absolute;
 left: 28px;
 top: 12px;
 color: rgb(161, 159, 159);
}
.search > h1
{
    color: #ffffff;
    font-weight: 200;
    font-size: 30px;
}
.menu
{
    color: #ffffff;
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    font-weight: 400;
}
.menu > a
{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 20px;
    padding: 2px 5px;
    height: 100%;
}
.menu > i
{
    display: flex;
    align-items: center;
}
.one
{
    color: white;
    text-align: center;
    margin-top: 1.7cm;
}
.one > h1
{
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 50px;
}
.one > .un
{
    font-size: 2.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
}
.one > .deux
{
    color: #85858b;
}
.course
{
    margin: 100px auto;
    width: 850px;
}
.course > h3
{
    font-family: Lato,sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}
.course > .type 
{
    border: 2px solid white;
    padding: 20px;
    font-size: 28px;
    color: white;
    background-color: #3b3b4f;
    margin-bottom: 10px;
    transition: all 0.2s;
}
.course > .type:hover
{
    background-color: white;
    color:#3b3b4f ;
}
.type > i
{
    margin: 10px;
    font-size: 50px;
    text-align: center;

}
.course > h3 > a
{
    color:white;
}

